.chatContainer {
	border: 1px solid black;
	height: 500px;
	width: 55%;
	margin-left: 12.45%;
	position: absolute;
	top: 10.8%;
	background-color: #2c2f33d9;
}

.senderMsg {
	padding: 10px;
	border: 1px solid black;
	width: fit-content;
	border-radius: 5px;
}

.messageForm input{
	margin-top: 480px;
	width: 74.1%;
	height: 40px;
	outline: none;
	margin-left: 12.45%;
	background-color: #2c2f33d9;
	padding: 5px;
	border-top: none;
	color: #ffffff;
}

li {
	list-style-type: none;
	color: #ffffff;
}

.senderMsgItem {
	border: 1px solid gray;
	padding: 10px;
	width: fit-content;
	border-radius: 5px;
}

.receiverMsgItem {
	border: 1px solid gray;
	padding: 10px;
	width: fit-content;
	border-radius: 5px;
}