.sidebar {
	position: absolute;
	width: 19.9%;
	right: 12.42%;
	height: 500px;
	border: 1px solid black;
	top: 10.8%;
	background-color: #23272Ae6
}

.userName {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding-left: 10px;
	padding-right: 10px;
	color: #99aab5;
}

.userAge {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding-left: 10px;
	padding-right: 10px;
	color: #99aab5;
}

.userImg {
	height: 150px;
	width: 150px;
	border-radius: 50%;
	margin-top: 30px;
}

.imgWrap {
	display: flex;
	justify-content: center;
}

@media screen and (max-width: 772px) {
	.sidebar {
		width: 40%;
		right: 2.3%;
	}
}